@import "tailwindcss";

@theme {
    --font-display: amandine, serif;
    --font-body: ainslie-sans, sans-serif;

    --color-dark: #373d20;
    --color-light: #eff1ed;
}
/* 
 * Rounded: 2xl (16px)
 */

@layer base {
    body {
        @apply font-body font-normal leading-normal;
    }

    h1 {
        @apply font-display text-7xl leading-tight;
    }
}

@layer components {
    .button-wrapper {
        @apply flex gap-4;
    }
    .button {
        @apply py-3 px-5 uppercase font-semibold rounded-2xl border border-dark duration-300 overflow-hidden relative;
    }
    .button--primary {
        @apply bg-dark text-light;
    }
    .button--secondary {
        @apply bg-transparent;
        &:before {
            @apply absolute top-0 left-0 w-0 h-full bg-dark transition-all duration-300 -z-10;
            content: "";
        }
        &:hover {
            @apply text-light;
            &:before {
                @apply w-full;
            }
        }
    }

    .navlinks {
        @apply flex gap-4 font-semibold;
        a {
            @apply py-0.5 relative duration-300 block;
            &:before {
                @apply absolute bottom-0 left-0 w-0 h-0.5 rounded-full bg-light transition-all duration-300 z-0;
                content: "";
            }
            &:hover {
                &:before {
                    @apply w-full;
                }
            }
        }
    }
}
